*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 80%;
    margin-left: 75px;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
text-decoration: none;
color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color:gray;
}    

#book-now{
    cursor: pointer;
    padding: 4px;
    margin: 8px;
    text-decoration: none;
    background: none;
    color: white;
    border-radius: 8px;
}

.book-now:hover{
    color: gray;
}

.alert{
  justify-content: center;
  background-color: yellow;
  border: 3px solid grey;
 
  display: grid;
}

.alert-font{
  font-size: 15px;
  padding: 10px;
}

.alert a:hover{
  
  text-decoration: none;
  color: gray;
  cursor: pointer;
  
}

.background{
    background: rgba(0,0,0,0.7) url('../img/travel2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 60vh;
    display: flex;
}

.txt{
    font-size: 15px;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsthalf{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.text-big{
color: inherit;
font-size: 30px;
font-weight: 600;
}

.text-small{
  font-size: 16px;
  margin-top: 17px;
  width: 940px;
  font-weight: 100;
  text-align: justify;
}


.holiday-duration {
    font-size: 40px;
    margin-top: 6px;
    font-weight: 300;
}

.overview{
    text-overflow: clip;
}

.pageContentSection{
    max-width: 100%;
    margin: 0 auto;
    text-align: justify;
    display: block;
}
.more-info-box{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 50px;
    font-size: 16px;
    margin-right: 5%;
    margin: 0;
    padding: 0;
}

.more-info-heading{
    font-size: 20px;
    color: #000;
    margin-bottom: 11px;
    margin-top: 20px;
    line-height: 1.1;
    font-family: inherit;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.more-info-description{
    text-align: left;
    outline: 0;
    margin: 0;
    padding: 0;
    display: block;
    color: grey;
}

.page-content-wrapper{
    padding: 50px 200px;
    width: 980px;
    margin: 0 auto;
    font-size: 0;
}

.main-section-wrapper{
    width: 980px;
    display: inline-block;
    position: inherit;
    font-size: 16px;
    font-weight: 100;
}

.space{
    margin: 40px;
}

.para{
    text-align: center;
}

.para:hover{
    background-color: rgb(231, 230, 230);
    margin: auto;
    padding: auto;
   }
   
   p{
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       padding: 20px;
       margin: auto;
       font-size: 22px;
   }
   pre{
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       text-align: justify;
       text-align: center;
   }


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: scroll;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 10px 16px;
    background-color: #737473;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 10px 16px;
    
    color: white;
  }

  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    width: 100%;
    padding: 0px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 100px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  .button {
    cursor: pointer;
    height: 25px;
    background: rgb(117, 117, 116);
    border: none;
    color: white;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
  }
  
  .button:hover {
    border: 2px solid black;
  }

  
.row{
  display: -webkit-inline-box;
  margin-left: 40px;
  padding: 55px;
  align-items: center;
  justify-content: center;
}

.single-footer-item{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.single-footer-item h2{
    color:#565a5c;
    font-size:16px;
    font-weight: 600;
    margin-bottom:40px;
}
.footer-logo {
    padding-top: 76px;
}
.footer-logo a, .footer-logo a:hover,.footer-logo a:focus {
    color: #565a5c;
    font-size:24px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    margin: 14px 0px 0;
    padding: 10px 0 0 0;
}
.footer-logo a>span {
    color: #00d8ff;
    text-transform: capitalize;
} 
.footer-logo p{
    color: #aaa;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.single-footer-txt p{
    margin-bottom:-30px;
}
.single-footer-txt p a{
    color:#565a5c;
    font-size:16px;
    -webkit-transition: .5s ease-in-out; 
    -moz-transition:.5s ease-in-out; 
    -ms-transition:.5s ease-in-out; 
    -o-transition:.5s ease-in-out;
    transition: .5s ease-in-out;
    
}


.footer-copyright hr{
    border-top: 1px solid #ebebeb;
}
